extends ../modules/_layout.pug
include ../modules/_nav_bar.pug

block content 
  +navigationBar({chronology: "../index.html",
                  series: "series.html",
                  movies: "movies.html",
                  mangas: "#"})
