nav > a{
    text-decoration:none;
}
tr > td > a{
    display:inline-block; /*sirve para poder recibir la propiedad de text-aling*/ 
    background:grey;
    overflow: hidden;
    padding:0px 10px;
    text-decoration:none;
    text-align:center;/*Para que esta funcione hay que trasformar el enlace en inline block o block*/
    color:black;
    font-size:20px;
    font-family: 'Indie Flower', cursive;
}

tr,td{
    display:inline-block; /*para que las filas puedan tener propiedades de bloque es necesario penerlo inline-block*/
    border:5px solid #000;
}

