/*---Stilos generales---*/
*{padding:0;margin:0;color:black;list-style:none;text-decoration:none;}
body{background:#1a2332;}
body h2,body h3,body a{font-family: 'Share Tech', sans-serif;}
/*---Header---*/
header{
    width:100%;
    float:left;
    background:url(../img/backgroundheader.jpg) center no-repeat;
    background-size:100%;
}
header>a img{
    margin:10px 0px 0px 10px;
    float:left;
}
header nav{
    clear:both;
    width:100%;
    float:left;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#163050+0,1d3447+50,1d3447+51,163050+100 */
    background: rgb(22,48,80); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(22,48,80,1) 0%, rgba(29,52,71,1) 50%, rgba(29,52,71,1) 51%, rgba(22,48,80,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(22,48,80,1) 0%,rgba(29,52,71,1) 50%,rgba(29,52,71,1) 51%,rgba(22,48,80,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(22,48,80,1) 0%,rgba(29,52,71,1) 50%,rgba(29,52,71,1) 51%,rgba(22,48,80,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#163050', endColorstr='#163050',GradientType=0 ); /* IE6-9 */
}
header nav  ul{
    width:630px;
    margin-left:325px;
    float:left;
}
header nav li{
    border:1px solid #3f5d7e;
    border-right:none;
    float:left;
    display:inline-block;
}
header nav li a{
    display:block;
    padding:12px;
    color:#fff;
    float:left;
    width:132.25px;
    text-align:center;
    background:#0080ff;
}
header nav li a .icon{
    color:#fff;
}
header nav li.four{border-right:1px solid #3f5d7e;}
/*---clases---*/
.one a,.one{color:#ff8e00;}
.two a,.two{color:#6339b5;}
.three a,.three{color:#1abeca;}
.four a,.four{color:#2d7ed1;}
/*---Aside---*/
div.nr{
    float:left;
    margin-left:5px;
    margin-top:10px;
    width:310px;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#163050+0,163051+50,163051+51,163050+100 */
    background: rgb(22,48,80); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(22,48,80,1) 0%, rgba(22,48,81,1) 50%, rgba(22,48,81,1) 51%, rgba(22,48,80,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(22,48,80,1) 0%,rgba(22,48,81,1) 50%,rgba(22,48,81,1) 51%,rgba(22,48,80,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(22,48,80,1) 0%,rgba(22,48,81,1) 50%,rgba(22,48,81,1) 51%,rgba(22,48,80,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#163050', endColorstr='#163050',GradientType=0 ); /* IE6-9 */
}
div.nr nav ul li{
    width:278px;
    margin:0px 0px 20px 10px;
    padding:5px;
    border-bottom:1px solid #3f5d7e;
}
div.search h3{
    margin:10px 0px 0px 10px;
    color:white;
}
#search{
    width:290px;
    height:25px;
    font-size:18px;
    margin:10px;
}
div.nr aside img{
    width:290px;
    margin:10px;
}
/*---contenido---*/
div.none {
    float:left;
    margin-left:10px;
    margin-top:10px;
    width:630px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#163050+0,1d3447+50,1d3447+51,163050+100 */
    background: rgb(22,48,80); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(22,48,80,1) 0%, rgba(29,52,71,1) 50%, rgba(29,52,71,1) 51%, rgba(22,48,80,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(22,48,80,1) 0%,rgba(29,52,71,1) 50%,rgba(29,52,71,1) 51%,rgba(22,48,80,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(22,48,80,1) 0%,rgba(29,52,71,1) 50%,rgba(29,52,71,1) 51%,rgba(22,48,80,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#163050', endColorstr='#163050',GradientType=0 ); /* IE6-9 */
}
#populares{margin:10px;}
#populares h2{margin-bottom:20px}
#populares div{background:#0080ff;}
#populares td{
    width:130px;
    float:left;
    margin:10px;
    text-align:center;
    border:1px solid #3f5d7e;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:#0080ff;
}
#populares td a{
    color: white;
}
#populares td img{width:130px;}

#agregados{margin:10px;}
#agregados h2{margin-bottom:20px}
#agregados div{background:#0080ff;}
#agregados td{
    width:130px;
    float:left;
    margin:10px;
    text-align:center;
    border:1px solid #3f5d7e;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:#0080ff;
}
#agregados td a{
    color:#fff;
}
#agregados td img{
    width:130px;
}

#emision{margin:10px;}
#emision h2{margin-bottom:20px}
#emision div{background:#0080ff;}
#emision td{
    width:130px;
    float:left;
    margin:10px;
    text-align:center;
    border:1px solid #3f5d7e;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:#0080ff;
}
#emision td a{
    color:#fff;
}
#emision td img{
    width:130px;
}

#recomendados{margin:10px;}
#recomendados h2{margin-bottom:20px}
#recomendados div{background:#0080ff;}
#recomendados td{
    width:130px;
    float:left;
    margin:10px;
    text-align:center;
    border:1px solid #3f5d7e;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:#0080ff;
}
#recomendados td a{
    color:#fff;
}
#recomendados td img{
    width:130px;
}

/*---hover---*/
div.nr nav ul li a:hover{text-decoration: underline; }
header nav li a:hover{background:#0069BA;}
#populares td:hover{
    background: url(../img/hover.png) center no-repeat;
    background-size:130px;
    border-color:white;
}
#populares td div:hover{opacity:0.5;}
#populares td img:hover{opacity:0.99;}

#agregados td:hover{
    background: url(../img/hover.png) center no-repeat;
    background-size:130px;
    border-color:white;
}
#agregados td div:hover{opacity:0.5;}
#agregados td img:hover{opacity:0.99;}

#emision td:hover{
    background: url(../img/hover.png) center no-repeat;
    background-size:130px;
    border-color:white;
}
#emision td div:hover{opacity:0.5;}
#emision td img:hover{opacity:0.99;}

#recomendados td:hover{
    background: url(../img/hover.png) center no-repeat;
    background-size:130px;
    border-color:white;
}
#recomendados td div:hover{opacity:0.5;}
#recomendados td img:hover{opacity:0.99;}
