/* variable */
:root{
    --transp:rgba(0,0,0,0.5);
    --font-color:#b2bec3;
    --font-color-hover:#636e72;
    --margin-top: 2%;
    --text-shadow: 1px 1px  black;
}

/*.:Estilos generales:.*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Share Tech', sans-serif;
}
body{
    background:url(../4.img/back.jpg) no-repeat center center; 
    background-size:100% 100%;
    background-attachment: fixed;
}
body a,ul{
    color:black;
    text-decoration:none;
    list-style:none;
}

/* estilos de la parte superior */

.head-container{
    width:100%;
    margin-top:var(--margin-top);
}

.head-container>a{
    color:var(--font-color);
    font-size:40px;
    position: fixed;
}

.head-container>a:hover{
    color:var(--font-color-hover);
}

.navegation,
.list-container,
.title h3{
    display:table;
}

.title{
    background: var(--transp);
    color: var(--font-color);
}
.navegation{
    background: var(--transp);
    margin: 0 auto;
}
.list-container{
    margin:0 auto;
}
.title h3{
    margin: 0 auto;
    line-height: 40px;
    text-shadow:var(--text-shadow);
}
.list-container li{ 
    display:inline-block;
    margin:0 7px;
}
.list-container a{
    display:block;
    color: var(--font-color);
    line-height:30px;
    text-shadow: var(--text-shadow);
}
.list-container a:hover{
    color: var(--font-color-hover);
    text-decoration:underline;
}

/*estilos de la parte central*/

.main{
    margin-top:var(--margin-top);
    padding:0.1px;
}
.main-container{
    display:table; 
    margin: 0 auto;
}
.element-container{
    display:inline-block;
    margin: 0 8px; 
    width:150px;
}
.element-container p{
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    visibility:hidden;
    color: var(--font-color);
    text-shadow: var(--text-shadow);
}
.element-container:hover p{
    visibility:visible;
    transition:2s;
}
.element{
    background:black;  
    border:4px solid black;
}

.border{border:3px solid white;}

.element a{
    display: block;
    opacity: 0.5;
}

.mang-01 a{background: url(https://myanimelist.cdn-dena.com/images/manga/3/114037.jpg)  center/ 230px 325px ;}
.mang-02 a{background: url(https://myanimelist.cdn-dena.com/images/manga/3/145997.jpg)  center/ 230px 325px ;}
.mang-03 a{background: url(https://myanimelist.cdn-dena.com/images/manga/3/198604.jpg)  center/ 230px 325px ;}
.mang-04 a{background: url(https://myanimelist.cdn-dena.com/images/manga/3/117681.jpg)  center/ 230px 325px ;}

.element a:hover{
    opacity: 1;
    transition:1s;
}

.border img{
    visibility: hidden;
}

/* Parte inferior */
footer{
    width: 100%;
    position:absolute;
    bottom:0;
    box-shadow: 0px 0px  20px 0px  black inset;
}
.footer-information{
    color:var(--font-color);
    text-shadow: var(--text-shadow);
    text-align: center;
    display:table;
    margin: .5% 20%;
}
.footer-information h3{
    margin:var(--margin-top) auto 0;
}
.footer-information p{
    margin-top:var(--margin-top);
}
