/*Estilos generales*/
*{
    padding:0;
    margin:0;
    color:black;
    list-style-type:none;
    /*border:1px solid black;*/
}
/*fondo*/
body{
    background:url("../img/background.jpg") center;
}
/*logo*/
div.none{
    height:100%;
    width:100%;
}
div.none div.phan a img.logo{
    margin:10px 0px 0px 10px;
    width:200px;
    border:2px solid black;
    background:#4e4e60;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;

}
/*contenedor*/
div.none div.phan{
    width:100%;
    height:100%;
    float:right;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(246,248,249,.5) 0%, rgba(229,235,238,.5) 50%, rgba(215,222,227,.5) 51%, rgba(245,247,249,.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(246,248,249,.5) 0%,rgba(229,235,238,.5) 50%,rgba(215,222,227,.5) 51%,rgba(245,247,249,.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(246,248,249,.5) 0%,rgba(229,235,238,.5) 50%,rgba(215,222,227,.5) 51%,rgba(245,247,249,.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*sinopsis*/
div.none div.phan div.container{
    width:380px;
    float:right;
    margin:300px 100px 14px 0px;
    
}
div.none div.phan div.container h2{
    text-align: center;
    margin-bottom:10px;
}
div.none div.phan div.container p{margin-bottom:10px;}
div.none div.phan div.container a img{
    border:1px solid red;
    border-radius:5px;
    margin-left:149px;
    margin-top:40px;
}
