nav.row.expanded
  div.columns.large-3
    p Anime's Library
  div.columns.large-3.large-centered.callout
    div.button-group.align-right
      a(href="#").button.rounded.secondary Series
      a(href="#").button.rounded.secondary Mangas
      a(href="#").button.rounded.secondary Movies